body {
  background-color: #a5c18b;
  margin: 25px;
}

.wrapper {
  margin: 0 auto;
  width: 955px;
  height: 600px;
}

.header {
  display: flex;
}

.header .title {
  margin: 30px 50px auto auto;
}

.header h1 {
  font-size: 2.8em;
  margin-bottom: 0;
  text-align: right;
}

.header h2 {
  font-weight: lighter;
  margin-top: 0;
  text-align: right;
}

.header-image {
  background-image: linear-gradient(to bottom, rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,1)),
                    linear-gradient(to right, rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,0), rgba(165, 193, 139,1)),
                    url("../header.jpg");
  background-repeat: no-repeat;
  height: 264px;
  width: 397px;
}

.main {
  display: flex;
}

.menu {
  width: 300px;
  margin: 50px auto;
}

.main a {
  color: inherit;
  display: block;
  font-size: 2em;
  margin: 10px;
}

.content {
  font-size: 1.5em;
  height: 450px;
  margin: 50px 10px auto auto;
  overflow: scroll;
  width: 600px;
}

.content .page {
  min-height: 450px;
}